<h2>Votar por el juego del año</h2>
<hr>

<div class="row">
  <div class="col">

    <div *ngIf="loading" class="d-flex justify-content-center align-center">
      <span><i class="fas fa-spinner fa-spin fa-4x"></i></span>
    </div>

    <div class="card-columns"
      *ngIf="!loading">
      <div class="card bg-dark"
          *ngFor="let game of games">
        <img [src]="game.url" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">{{ game.name }}</h5>
          <p class="card-text">Votos: {{ game.votes }}</p>
          <p class="card-text">
            <button class="btn btn-outline-primary btn-block"
              (click)="voteByGame(game.id)">
              Votar
            </button>
          </p>
        </div>
      </div>
    </div>

  </div>
</div>
