<div class="chart-container">

  <div *ngIf="!games" class="d-flex justify-content-center align-center">
    <span><i class="fas fa-spinner fa-spin fa-4x"></i></span>
  </div>

  <ngx-charts-bar-horizontal
    *ngIf="games"
    [scheme]="colorScheme"
    [results]="games"
    [gradient]="gradient"
    [xAxis]="showXAxis"
    [yAxis]="showYAxis"
    [legend]="showLegend"
    [showXAxisLabel]="showXAxisLabel"
    [showYAxisLabel]="showYAxisLabel"
    [xAxisLabel]="xAxisLabel"
    [yAxisLabel]="yAxisLabel"
    (select)="onSelect($event)"
    style="fill: grey">
  </ngx-charts-bar-horizontal>
</div>
